@keyframes introduction{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

@keyframes imagebecode{
0%{
    transform:scale(1);
    opacity : 1;
}

99%{
    opacity:1;
}

100%{
    transform:scale(0);
}
}

@keyframes texte{
    0%{ opacity : 1;
        transform : translateY(0px)rotateX(20deg) translateZ(0);
    
    }
    100%{
        opacity : 1;
        transform : translateY(-5000px) rotateX(25deg) translateZ(-500px);
    }

}
body{
    background-image: url(Images/backgroundétoilé.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;    
    }

.position{
    position: relative;
}
.intro{
    width : 700px;
    padding-top:300px;
    color:blue;
    font-size : 50px;
    text-align: center;
    animation-name:introduction;
    animation-duration:5s; 
    animation-timing-function:ease-out;
    opacity : 0;
    position: absolute;
    top : 0px;
    left : 400px;
    }

figure img{
    display:block;
    width: 800px;
    animation-name:imagebecode;
    animation-duration: 5s;
    animation-delay : 4s;
    animation-timing-function : linear;
    opacity : 0;
    position: absolute;
    top:-50px;
    left:350px;
    z-index: 1;
}

.parentélément{
    perspective: 400px;
}

.article{
    width : 1000px;
    height:auto;
    color : yellow;
    font-size :100px;
    text-align:justify;
    opacity:1;
    transform-origin:50% 100%;
    position:absolute;
    left : 250px;
    top : 1500px;
    animation-name : texte;
    animation-delay : 7s;
    animation-duration : 30s;
    }